@model Vidly.Models.Student

@{
    ViewBag.Title = "getStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Details</h2>
<h3>Id: @Model.Id</h3>
<h3>Name: @Model.Name</h3>
<h3>Age: @Model.Age</h3>

